:root {
--pearl: #F7F7F5;
--black: #000000;
--sky: #CCDCD7;
--rose: #CCDCD7;
--avenue: #153E56; 
--palm: #9BB681;
--plaza: #D6A38A;
--heading: clamp(3.1rem, 3.1vw, 6.2rem);
--subheading: clamp(0.9rem, 0.9vw, 1.8rem);
--body: clamp(0.8125rem, 0.8125vw, 1.6rem);
--quote: clamp(1.695rem, 1.695vw, 2.9rem);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
